extends layout
block content
  div(class="container-fluid justify-content-center" style="margin-top: 15px")
    div(class="jumbotron")
      div(class="row")
        div(class="col-md-6")
          h1(class="display-4")=title
          p(class="lead-4" id="description")
        div(class="col-md-6")
          img(class="img-fluid rounded mx-auto d-block" id="poster" alt="Poster Art")
  div(class="container justify-content-center")
    div(class="row" id="player")
     div(class="spinner" id="loader")
        p(class="lead-4") Loading...
        div(class="rect1")
        div(class="rect2")
        div(class="rect3")
        div(class="rect4")
    div(class="row" id="controls")
      div(class="container-fluid" id="results")
  block scripts
    script(src="/javascripts/kitsu/api.js")
    script.
        function playSRC(url) {
          document.querySelector('#player').innerHTML = "";
          document.querySelector('#player').className = 'row embed-responsive embed-responsive-4by3';
          document.querySelector('#player').innerHTML = `<iframe class="embed-responsive-item" src="${url}" sandbox allowfullscreen></iframe>`
        }
    script.
        class WArray extends Array {
          constructor(watchedLength, cb) {
            super();
            this.watchedLength = watchedLength;
            this.cb = cb;
          }
          push(e) {
            if(this.length < this.watchedLength) {
            super.push(e);
            if(this.length >= this.watchedLength) this.cb();
            }
          }
        }

        const api = (window.location.href.includes('localhost')) ? io('http://localhost/api') : (window.location.href.includes('192.168.2.42')) ? io('http://192.168.2.42/api') : io('http://protoamine.tk/api');
        function init() {
          api.on(`request/search:done/#{title}`, (res) => {
            //remove loader
            document.querySelector('#player').removeChild(document.querySelector('#loader'));

            console.log(res);
            let results = document.querySelector('#results');
            for (let i = 0; i < res[0].length; i += 4) {
                //create a new row and append it to container
                let row = document.createElement('div');
                row.className = "row";
                results.appendChild(row);
                let it = res[0].slice(i, i + 4);
                it.forEach(e => {
                    let col = document.createElement('div');
                    col.className = "col-md-3";
                    let card = document.createElement('div');
                    card.className = "card animeItem";
                    card.dataset.title  = e.title;
                    card.title = e.title;
                    card.innerHTML = `<img class="card-img-top" src="${e.poster}" alt="Poster">
                    <div class="card-body">
                    <h5 class="card-title">${e.title}</h5>
                    <a onclick='requestURL("${e.title}", "${e.href}")' class="btn btn-primary text-white">Watch Now</a>
                    </div>`;
                    col.appendChild(card);
                    row.appendChild(col);
                });
              }
          })
          api.emit('request/search', {keyword: '#{title}'});
        }
        init();

        function requestURL(title, href) {
          api.emit('search/animes', {title: title});
          api.on(`search/animes:result/${title}`, (res) => {
            if(res) {
              let episodeList = document.querySelector(`[data-title='${title}']`);
              episodeList.innerHTML = `<a onclick='requestURL("${title}", "${href}")' class="btn btn-primary text-white">Watch Now</a>`;
              let episodes = new WArray(res[0].episodes.length, () => {
                episodes.sort((a, b) => {
                  return a[0].id - b[0].id;
                });
                //console.log(episodes);
                for(let i = 0; i < episodes.length; i+=4) {
                  let row = document.createElement('div');
                  row.className = "btn-group";
                  episodeList.appendChild(row);
                  let eps = episodes.slice(i, i+4);
                  eps.forEach((e, j) => {
                    /*
                    let col = document.createElement('div');
                    col.className = "col-sm-1";
                    col.innerHTML = `<button class="btn btn-primary btn-ep" onclick=playSRC('${e[0].sources[0].player}')>${i+j}</button>`;
                    row.appendChild(col);
                    */
                    let btn = document.createElement('button');
                    btn.className = "btn btn-primary btn-ep";
                    btn.addEventListener('click', () => {
                      btn.className = "btn btn-info btn-ep"
                      playSRC(e[0].sources[0].player);
                    });
                    btn.innerHTML = i+j + 1;
                    row.appendChild(btn);
                  })
                }
              });
              res[0].episodes.forEach((id) => {
                api.on(`search/episode:result/${id}`, (res) => {
                episodes.push(res);
              });
                api.emit('search/episode', {_id: id});
              });
              console.log(episodes)
            } else  
              document.querySelector(`[data-title='${title}']`).insertAdjacentHTML('afterbegin', `<button class="btn btn-primary" onclick="scrapeURL('${href}','${title}')">Request</button>`);
          })
        }

        function scrapeURL(url, title) {
          document.querySelector('#alerts').innerHTML += `<div class="alert alert-primary alert-dismissible fade show" role="alert">Scrape Request Sent!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
          api.on('request/animeURL:done/url', () => {
            document.querySelector('#alerts').innerHTML += `<div class="alert alert-success alert-dismissible fade show" role="alert">Completed Scrape! Added to Database! Refresh the page!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`
          });
          api.emit('request/animeURL', {url: url, title: title});
        }

        /*
        });*/

        (async() => {
            let meta = await getAnime({id: '#{mal_id}'});
            document.querySelector('#description').innerHTML = meta.data.attributes.synopsis;
            document.querySelector('#poster').src = meta.data.attributes.posterImage.medium;
        })();
